USE [master]

DROP DATABASE IF EXISTS [Тест1]

GO
/****** Object:  Database [Тест1]    Script Date: 04.03.2026 15:38:31 ******/
CREATE DATABASE [Тест1]
WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
    begin
        EXEC [Тест1].[dbo].[sp_fulltext_database] @action = 'enable'
    end
GO
USE [Тест1]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 04.03.2026 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
                               [Номер] [int] IDENTITY(1,1) NOT NULL,
                               [Дата заказа] [date] NOT NULL,
                               [Дата доставки] [date] NULL,
                               [КодПунктаВыдачи] [int] NOT NULL,
                               [КодПользователя] [int] NOT NULL,
                               [КодДляПолучения] [nvarchar](50) NULL,
                               [Статус] [nvarchar](50) NOT NULL,
                               CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED
                                   (
                                    [Номер] ASC
                                       )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 04.03.2026 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
                                     [Код] [int] IDENTITY(1,1) NOT NULL,
                                     [Роль сотрудника] [nvarchar](50) NOT NULL,
                                     [ФИО] [nvarchar](50) NOT NULL,
                                     [Логин] [nvarchar](50) NOT NULL,
                                     [Пароль] [nvarchar](50) NOT NULL,
                                     CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED
                                         (
                                          [Код] ASC
                                             )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПунктыВыдачи]    Script Date: 04.03.2026 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПунктыВыдачи](
                                     [Код] [int] IDENTITY(1,1) NOT NULL,
                                     [Адрес] [nvarchar](50) NOT NULL,
                                     CONSTRAINT [PK_ПунктыВыдачи] PRIMARY KEY CLUSTERED
                                         (
                                          [Код] ASC
                                             )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СодержимоеЗаказа]    Script Date: 04.03.2026 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СодержимоеЗаказа](
                                         [Код] [int] IDENTITY(1,1) NOT NULL,
                                         [Артикул заказа] [nvarchar](50) NOT NULL,
                                         [Количество] [int] NOT NULL,
                                         [НомерЗаказа] [int] NOT NULL,
                                         CONSTRAINT [PK_СодержимоеЗаказа.xlsx] PRIMARY KEY CLUSTERED
                                             (
                                              [Код] ASC
                                                 )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 04.03.2026 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
                               [Артикул] [nvarchar](50) NOT NULL,
                               [Наименование] [nvarchar](50) NOT NULL,
                               [ЕдиницаИзмерения] [nvarchar](50) NOT NULL,
                               [Цена] [decimal](10, 2) NOT NULL,
                               [Поставщик] [nvarchar](50) NOT NULL,
                               [Производитель] [nvarchar](50) NOT NULL,
                               [Категория] [nvarchar](50) NOT NULL,
                               [Скидка] [int] NOT NULL,
                               [КоличествоНаСкладе] [int] NOT NULL,
                               [Описание] [nvarchar](500) NULL,
                               [Фото] [nvarchar](500) NULL,
                               CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED
                                   (
                                    [Артикул] ASC
                                       )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON

INSERT [dbo].[Заказы] ([Номер], [Дата заказа], [Дата доставки], [КодПунктаВыдачи], [КодПользователя], [КодДляПолучения], [Статус]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, N'901', N'Завершен')
INSERT [dbo].[Заказы] ([Номер], [Дата заказа], [Дата доставки], [КодПунктаВыдачи], [КодПользователя], [КодДляПолучения], [Статус]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, N'902', N'Завершен')
INSERT [dbo].[Заказы] ([Номер], [Дата заказа], [Дата доставки], [КодПунктаВыдачи], [КодПользователя], [КодДляПолучения], [Статус]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, N'903', N'Завершен')
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON

INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (1, N'Администратор', N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (2, N'Администратор', N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (3, N'Администратор', N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[ПунктыВыдачи] ON

INSERT [dbo].[ПунктыВыдачи] ([Код], [Адрес]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[ПунктыВыдачи] ([Код], [Адрес]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[ПунктыВыдачи] ([Код], [Адрес]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[ПунктыВыдачи] OFF
GO
SET IDENTITY_INSERT [dbo].[СодержимоеЗаказа] ON

INSERT [dbo].[СодержимоеЗаказа] ([Код], [Артикул заказа], [Количество], [НомерЗаказа]) VALUES (1, N'А112Т4', 2, 1)
INSERT [dbo].[СодержимоеЗаказа] ([Код], [Артикул заказа], [Количество], [НомерЗаказа]) VALUES (2, N'H782T5', 1, 2)
INSERT [dbo].[СодержимоеЗаказа] ([Код], [Артикул заказа], [Количество], [НомерЗаказа]) VALUES (3, N'J384T6', 10, 3)
SET IDENTITY_INSERT [dbo].[СодержимоеЗаказа] OFF
GO
INSERT [dbo].[Товары] ([Артикул], [Наименование], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [Категория], [Скидка], [КоличествоНаСкладе], [Описание], [Фото]) VALUES (N'B320R5', N'Туфли', N'шт.', CAST(4300.00 AS Decimal(10, 2)), N'Kari', N'Rieker', N'Женская обувь', 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'9.jpg')
INSERT [dbo].[Товары] ([Артикул], [Наименование], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [Категория], [Скидка], [КоличествоНаСкладе], [Описание], [Фото]) VALUES (N'B431R5', N'Ботинки', N'шт.', CAST(2700.00 AS Decimal(10, 2)), N'Обувь для вас', N'Rieker', N'Мужская обувь', 2, 5, N'Мужские кожаные ботинки/мужские ботинки', N'')
INSERT [dbo].[Товары] ([Артикул], [Наименование], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [Категория], [Скидка], [КоличествоНаСкладе], [Описание], [Фото]) VALUES (N'C436G5', N'Ботинки', N'шт.', CAST(10200.00 AS Decimal(10, 2)), N'Kari', N'Alessio Nesca', N'Женская обувь', 15, 9, N'Ботинки женские, ARGO, размер 40', N'')
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пользователи] FOREIGN KEY([КодПользователя])
    REFERENCES [dbo].[Пользователи] ([Код])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пользователи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_ПунктыВыдачи] FOREIGN KEY([КодПунктаВыдачи])
    REFERENCES [dbo].[ПунктыВыдачи] ([Код])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_ПунктыВыдачи]
GO
ALTER TABLE [dbo].[СодержимоеЗаказа]  WITH CHECK ADD  CONSTRAINT [FK_СодержимоеЗаказа.xlsx_Заказы] FOREIGN KEY([НомерЗаказа])
    REFERENCES [dbo].[Заказы] ([Номер])
GO
ALTER TABLE [dbo].[СодержимоеЗаказа] CHECK CONSTRAINT [FK_СодержимоеЗаказа.xlsx_Заказы]
GO
ALTER TABLE [dbo].[СодержимоеЗаказа]  WITH CHECK ADD  CONSTRAINT [FK_СодержимоеЗаказа.xlsx_Товары] FOREIGN KEY([Артикул заказа])
    REFERENCES [dbo].[Товары] ([Артикул])
GO
ALTER TABLE [dbo].[СодержимоеЗаказа] CHECK CONSTRAINT [FK_СодержимоеЗаказа.xlsx_Товары]
GO
USE [master]
GO
